<%- include('includes/header_admin.ejs') %>

    <h1>Articles</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis velit at molestiae sunt, eum tempora incidunt, magnam, nemo facere in aut sequi excepturi odit! Accusantium laborum iste temporibus consequuntur.</p>
    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, totam harum! Quisquam dicta amet sunt temporibus, iusto eum officia cumque voluptatem aspernatur harum odit quidem optio! Consequatur excepturi accusamus velit.</p>
    <br>

    <a href="/admin/addArticle">
        <button class="ui secondary button">
         <i class="pencil alternate icon"></i>Add Article
        </button>
    </a>

<%- include('includes/footer_admin.ejs') %>